@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Make sure it stays behind other content */
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make the video cover the entire area */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Optional: Add a dark overlay */
}

#trex {

  font-size: 16px;
}


@media only screen and (max-width: 440px) {
  .rxo {
    font-size: 45px;
  }
}

@media only screen and (max-width: 400px) {
  .cvc {
   font-size: 30px;
  }
}


@media only screen and (max-width: 300px) {
  .xcv {
    margin-left: 40%;
  }
}
@media only screen and (max-width: 500px) {
  .fio {
    display: none;
  }
}

